.title-block {
  padding-top: 27px;
  padding-bottom: 49px;
  padding-right: 20px;
  padding-left: 20px;

  .title-block__title {
    font-family: "Oswald";
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 49px;
  }
}

@media (min-width: 768px) {
  .title-block {
    padding-right: 30px;
    padding-left: 30px;
    .title-block__title {
      margin-bottom: 82px;
      font-size: 60px;
      line-height: 60px;
    }
  }
}
@media (min-width: 1200px) {
  .title-block {
    padding-right: 110px;
    padding-left: 110px;
    margin-bottom: 84px;
  }
}
