.cooperation {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 26px;
  padding-bottom: 26px;
  .cooperation__title {
    font-family: "Oswald";
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
  .cooperation__street,
  .cooperation__city {
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;
  }
  .cooperation__street span {
    display: block;
    margin-top: 20px;
  }
}

@media (min-width: 768px) {
  .cooperation {
    padding-left: 70px;
    padding-right: 70px;
    .cooperation__adress {
      display: flex;
      flex-grow: row;
      justify-content: space-between;
    }
    .cooperation__title {
      width: 172px;
      font-size: 20px;
      line-height: 26px;
    }
    .cooperation__street {
      text-align: right;
      width: 160px;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
@media (min-width: 1200px) {
}
